@import url("https://fonts.googleapis.com/css?family=Bellota+Text&display=swap");
#header {
  background-color: #fffefe;
  font-family: "Bellota Text", cursive;
}
#header input {
  /* general */
  font-size: 16px;
  padding: 1rem 2rem;
  /* width animation */
  width: 10%;
  transition: width 0.4 ease-in-out;
  -webkit-transition: width 0.4s ease-in-out;
  /* border settings */
  border-radius: 4px;
  border: 2px solid #ccc;
  /* magnify glass settings */
  background-color: white;
  background-image: url("https://clipartart.com/images/free-search-icon-clipart-4.png");
  background-size: 1rem 1rem;
  background-position: 5px;
  background-repeat: no-repeat;
}
#header input:focus {
  width: 30%;
}
#header .logo {
  height: 5rem;
  width: auto;
}
#header .paypal {
  height: 3rem !important;
}
#header input {
  height: 50%;
}
#header .header-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
}

#nav {
  display: flex;
  justify-content: center;
  background-color: #fffefe;
  padding-bottom: 0;
  margin-bottom: 0;
  font-family: "Bellota Text", cursive;
  border-top: 1px solid grey;
}
#nav ul {
  list-style-type: none;
  cursor: pointer;
}
#nav ul li {
  display: inline;
  padding: 1rem 3rem;
}
#nav ul li:hover {
  text-decoration: underline;
}

#alert {
  background-color: #FF4545;
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 5px solid #17252a;
  border-bottom: 5px solid #17252a;
  color: white;
}
#alert .alert-container {
  padding: 0;
  margin: 0;
}
#alert .alert-container h1 {
  padding: 0;
}

#orders {
  text-align: center;
  background-color: #fffefe;
  font-family: "Bellota Text", cursive;
}
#orders button {
  border-radius: 4px;
  border: 1px solid #eee;
  padding: 0.25rem 1rem;
  cursor: pointer;
}
#orders table, #orders td {
  width: 90%;
}
#orders table {
  table-layout: fixed;
  padding-top: 3rem;
  border-spacing: 0;
}
#orders td {
  padding: 0.75rem 0;
  border: none;
}
#orders thead {
  font-weight: bold;
}
#orders tbody tr:nth-child(odd) {
  background-color: #ffffff;
}
#orders tbody tr:nth-child(even) {
  background-color: #ffb7b7;
}

#invoice {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  background-color: white;
  height: 100%;
  width: 100%;
  z-index: 100;
  /* Close Button*/
  /* Header Content */
  /* Billing Address */
  /* Description, Qty & Price*/
  /* Summary Section */
  /* Footer */
}
#invoice .button-container {
  padding: 1rem 4rem 0 0rem;
}
#invoice .button-container .invoice-close {
  cursor: pointer;
  float: right;
}
#invoice img {
  width: auto;
  height: 7rem;
}
#invoice .invoice-header {
  display: flex;
  justify-content: space-between;
  padding: 4rem;
}
#invoice .billing-address {
  display: flex;
  justify-content: left;
  padding: 0 4rem;
  margin-bottom: 2rem;
}
#invoice .billing-address table {
  border-collapse: collapse;
  width: 20%;
}
#invoice .billing-address table thead {
  background-color: #FF4545;
}
#invoice .order-details {
  display: flex;
  justify-content: center;
  padding: 0 4rem;
  margin-bottom: 2rem;
}
#invoice .order-details table {
  width: 100% !important;
  border: 1px solid pink;
  border-collapse: collapse;
}
#invoice .order-details table thead {
  background-color: #FF4545;
}
#invoice .order-details .desc-align {
  width: 70%;
}
#invoice .order-details .qty-align {
  width: 20%;
}
#invoice .order-details .total-align {
  width: 10%;
}
#invoice .summary-section {
  display: flex;
  justify-content: left;
  padding: 0 4rem;
  margin-bottom: 2rem;
}
#invoice .summary-section table {
  width: 100%;
  border: 1px solid pink;
  border-collapse: collapse;
}
#invoice .summary-section table thead {
  background-color: #FF4545;
}
#invoice .summary-section .desc-align {
  width: 70%;
}
#invoice .summary-section .qty-align {
  color: red;
  width: 20%;
}
#invoice .summary-section .total-align {
  width: 10%;
}
#invoice .footer {
  display: flex;
  justify-content: center;
}

@media print {
  .invoice-close {
    display: none;
  }
}
html, body {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
