$col1: #17252a;
$col2: #FF4545;
$col3: #fffefe;
$col4: #fffefe;
$col5: #fffefe;

@import url('https://fonts.googleapis.com/css?family=Bellota+Text&display=swap');

$primary-font: 'Bellota Text', cursive;