#orders{
    text-align: center;
    background-color: $col4;
    font-family: $primary-font;

    button{
        border-radius: 4px;
        border: 1px solid #eee;
        padding: .25rem 1rem;
        cursor: pointer;
    }

    table, td {
        width: 90%;
    }
    
    table{
        table-layout: fixed;
        padding-top: 3rem;
        border-spacing: 0;
    }

    td{
        padding: .75rem 0;
        border: none;
    }

    thead{
        font-weight: bold;
    }

    tbody tr:nth-child(odd) {
        background-color: #ffffff;
      }
      
      tbody tr:nth-child(even) {
        background-color: #ffb7b7;
      }
}